{% if products %}
    <div class="row products">
        {% for product in products %}
            {% include 'CoreBundle:Shop/Product:list_item_content.html.twig' %}
        {% endfor %}
    </div>
{% else %}
    Нет продуктов.
{% endif %}