{% extends 'CoreBundle:Frontend:layout.html.twig' %}

{% block title %}About Us / {{ parent() }}{% endblock %}

{% block content %}
    {{ parent() }}
    <section class="site-content site-section">
        <div class="container">
            <h1>123123</h1>
        </div>
    </section>
{% endblock %}