<h1>Registration</h1>
<form method="POST" action="{{ path("frontend_registration_register") }}" novalidate="novalidate" role="form">
    {{ form_widget(form) }}
    <div class="form-group form-actions">
        <button class="btn btn-lg btn-primary btn-block" name="_submit" type="submit" tabindex="4">Register</button>
    </div>
</form>